body{
    background-color: #2b2b2b;
}
.box{
    width: 500px;
    margin: 0 auto;
    color: #b8b8b8;
    display: flex;
}
.btn_1{
    background-color: cornflowerblue;
}
.btn_2{
    background-color: green;
}