.container{
    margin: 0 auto;
    width: 600px;

}
body{
    background-color: #3f3f3f;
}
.class1 p, .class2 p, .class3 p{
  padding: 0 10px;
  text-align: center;
  height: 30px;
}
.class1 button, .class2 button, .class3 button{
    padding: 20px;

}
.class1, .class2, .class3 {
    margin: 0 20px;
    color: white;

}
.list1, .list2, .list3{
    background-color: white;
    width: 200px;
}
.class1{
    background-color: #c63017;

 }
.class2{
    background-color: #005f00;

}
.class3{
    background-color: cornflowerblue;

}
.condition{
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 20px;
}
.faculty{
    display: flex;
    justify-content: center;

}
.search{
    margin: 20px;
}
.blockSearch{
    margin: 20px 0;
}

.massege p{
    background-color: antiquewhite;
    width: 300px;
    padding: 20px;
    margin: 10px 0 ;
    border-radius: 10px;
}
.block_img img{
    width: 400px;
}
.block_img {
    background-color: #3f3f3f;
    border-radius: 50%;
}
